<header class="w-full bg-blue-main">
    <div class="container mx-auto flex justify-between items-center py-4">
        <div class="text-blue-sec font-bold text-2xl">CLIPS</div>
        <nav>
            <ul class="text-blue-light flex gap-4">
                <li><a href="#">Manage</a></li>
                <li><a href="#">Upload</a></li>
                <li><a href="#">About</a></li>
                <li><a (click)="openModal($event)" href="#">Login / Register</a></li>
            </ul>
        </nav>
    </div>
</header>