<!-- FORM REGISTER -->
<form class="text-grey-light/80" [formGroup]="registerForm">
    <div class="flex flex-col gap-1 mt-4">
        <label>Name</label>
        <input formControlName="name" type="text" class="p-2 rounded focus:outline-none bg-blue-main-input border border-blue-light/30" placeholder="Enter name">
        <p>{{registerForm.controls['name'].errors | json}}</p>
    </div>
    <div class="flex flex-col gap-1 mt-4">
        <label>Email</label>
        <input formControlName="email" type="email" class="p-2 rounded focus:outline-none bg-blue-main-input border border-blue-light/30" placeholder="Enter email">
    </div>
    <div class="flex flex-col gap-1 mt-4">
        <label>Age</label>
        <input formControlName="age" type="number" min="1" class="p-2 rounded focus:outline-none bg-blue-main-input border border-blue-light/30" placeholder="Enter age">
    </div>
    <div class="flex flex-col gap-1 mt-4">
        <label>Password</label>
        <input formControlName="password" type="password" autocomplete="new-password" min="1" class="p-2 rounded focus:outline-none bg-blue-main-input border border-blue-light/30" placeholder="Enter password">
    </div>
    <div class="flex flex-col gap-1 mt-4">
        <label>Confirm password</label>
        <input formControlName="confirm_password" type="password" autocomplete="new-password" min="1" class="p-2 rounded focus:outline-none bg-blue-main-input border border-blue-light/30" placeholder="Confirm password">
    </div>
    
    <button class="flex justify-center items-center w-full py-3 mt-4 rounded transition-all bg-blue-sec hover:bg-blue-sec-hover text-grey-light" type="submit">Submit</button>
</form>