<app-alert *ngIf="showAlert" [color]="alertColor">{{alertMsg}}</app-alert>

<!-- FORM REGISTER -->
<form class="text-grey-light/80" [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="flex flex-col gap-1 mt-4">
        <label>Name</label>
        <app-input [control]="name" type="text" placeholder="Enter name"></app-input>
    </div>
    
    <div class="flex flex-col gap-1 mt-4">
        <label>Email</label>
        <app-input [control]="email" type="email" placeholder="Enter email"></app-input>
    </div>
    <div class="flex flex-col gap-1 mt-4">
        <label>Age</label>
        <app-input [control]="age" type="number" placeholder="Enter age"></app-input>
    </div>
    <div class="flex flex-col gap-1 mt-4">
        <label>Password</label>
        <app-input [control]="password" type="password" placeholder="Enter password"></app-input>
    </div>
    <div class="flex flex-col gap-1 mt-4">
        <label>Confirm password</label>
        <app-input [control]="confirm_password" type="password" placeholder="Confirm password"></app-input>
    </div>
    
    <button class="flex justify-center items-center w-full py-3 mt-4 rounded transition-all bg-blue-sec hover:bg-blue-sec-hover text-grey-light" type="submit">Submit</button>
</form>