<!-- FORM LOGIN -->
<form class="text-grey-light/80">
    <div class="flex flex-col gap-1 mt-4">
        <label>Email</label>
        <input type="email" class="p-2 rounded focus:outline-none bg-blue-main-input border border-blue-light/30" placeholder="Enter email">
    </div>
    <div class="flex flex-col gap-1 mt-4">
        <label>Password</label>
        <input type="password" autocomplete="new-password" class="p-2 rounded focus:outline-none bg-blue-main-input border border-blue-light/30" placeholder="Enter password">
    </div>
    <button class="flex justify-center items-center w-full py-3 mt-4 rounded transition-all bg-blue-sec hover:bg-blue-sec-hover text-grey-light" type="submit">Submit</button>
</form>